.product-card {
    width: 440px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 
        10px 10px 15px #D3D1D840,
        -10px 10px 15px #D3D1D840;
    padding-bottom: 10px;
}
.product-image-div {
    position: relative;
}

.product-button {
    width: 100%;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

.product-image {
    width: 100%;
    border-radius: 30px;
    height: 320px;
}

.price {
    position: absolute;
    font-size: 20px;
    top: 10px;
    left: 10px;
    margin: 0;
    padding: 5px 20px;
    background: white;
    border-radius: 20px;
}

.buy-button {
    padding: 10px 12px;
    top: 7px;
    right: 10px;
    position: absolute;
    background: #FE724C;
    border-radius: 100%;
    border: none;
    cursor: pointer;
}

.description {
    margin-left: 10px;
}

.composition {
    color: #5B5B5E;
}

p {
    margin: 0;
}