.basket-content {
  margin: 20px 40px;
  margin-right: 160px;
}

.basket-items {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.total-amount-div {
  margin-top: 40px;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: 20px;
}

.positions-amount {
  display: flex;
  justify-content: space-between;
}

.delivery-amount {
  display: flex;
  justify-content: space-between;
}

.total-amount {
  display: flex;
  justify-content: space-between;
}

.basket-buy-button-div {
  display: flex;
  justify-content: center;
}

.basket-buy-button {
  font-size: 27px;
  color: white;
  background-color: #fe724c;
  padding: 20px 50px 20px 50px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
