li {
    all:unset;
    display: flex;
    gap: 5px;
}

.left-menu {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 30px;
    border-right: solid 1px #D4D6E0;
}

.avatar {
    height: 80px;
    width: 80px;
    margin-top: 30px;
}

.user-info {
    margin-bottom: 80px;
}

.name {
    margin: 0;
}

.email {
    font-size: 16px;
    color: #9EA1B1;
    margin: 0;
}

.exit-link {
    cursor: pointer;
    text-decoration: underline;
    color: #626369;
}

.menu-button {
    display: flex;
    gap: 15px;
    font-size: 35px;
    margin-bottom: 35px;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.menu-icon {
    height: 45px;
}

.menu-and-cart-paragraph {
    margin: 0;
}

.menu-list {
  all: unset;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 42px;
}

.menu-list-icon {
    width: 30px;
    height: 30px;
    padding-right: 10px;
}

.menu-link {
    display: flex;

}

.active-menu {
    background: #eeeded;
    padding: 10px;
    border-radius: 15px;
}

.menu-list-button {
    font-size: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.active-button {
    background: #eeeded;
    padding: 10px;
    border-radius: 15px;
}

.active-icon {
    padding-top: 10px;
    padding-right: 10px;
}

.active-bar p {
    color: #FE724C;
}

