.menu {
    margin: 20px 40px;
}
.menu-head-style {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.title {
    letter-spacing: 1.5px;
    font-size: 45px;
    font-weight: 500;
    margin: 0;
}

.basket-and-search {
    display: flex;
    margin-top: 10px;
    gap: 50px;
}

.basket {
    display: flex;
    gap: 15px;
    font-size: 25px;
    background: #f8e8c9;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

.basket-icon {
    width: 30px;
}

.cards-div {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: flex-start;
}